html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: $main-font-family;
	font-size: 100%;
	background: $main-background-color;
	color: $main-font-color;
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4{
	margin: 0;
	font-weight: 300;
}

h1{
	font-size: 2em;
}

h3{
	font-size: 1.8em;
}

em{
	font-style: normal;
}

a{
	text-decoration: none;
	color: $inside-link-color;
	padding: .3em .5em;

	&:visited{

	}

	&:hover{
		border-radius: .3em;
		background: $rollover-link-color;
		color: $rollover-text-link-color;
	}

	&:focus{
		outline: none;
	}
}

p{
	margin: .5em 0;
}

ul{
	padding: 0;
	margin: 0;

	li{
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

form {
	margin: 0;
	padding: 0;

	fieldset {
		border: none;
		margin: 0;
		padding: 0;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	textarea {
		font-family: $main-font-family;
		display: block;
		width: 100%;
		margin: 0;
		padding: .8em 0 .8em .8em;
		font-size: 1em;
		box-sizing : border-box;
		border: none;

		&:focus{
			outline: none;
		}

		&:-webkit-autofill {
			-webkit-box-shadow: 0 0 0px 1000px white inset;
		}
	}


	button {
		font-family: $main-font-family;
		width: 100%;
		font-size: 1em;
		padding: .5em;
		border: none;

		&:focus{
			outline: none;
		}
	}
}
.login{
}
.app,
.login{
	background:$main-background-color;
}
.app{
	padding: 0 0 1.2em;
}

body{
	&.loading{
		.app{

			&:before{
				display: block;
				height: 100%;
				width: 100%;
				content: "";
				background: rgba(255, 255, 255, 1);
				position: fixed;
				z-index: 3;
			}
		}
	}
}
