.application-wrapper{
	width: 60em;
	min-width: 20em;
	margin: 0 auto;
}

header{
	&.application-header{
		background: @main-header-color;
		height: 4em;

		a, label, input[type="text"]{
			color: white;
		}

		a{
			padding: 0;

			&.avatar{
				border-radius: 3em;
			}
		}

		input[type="text"]{
			line-height: 4em;
			font-size: .95em;
			background: transparent;
			border: none;

			&:focus{
				outline: none;
			}
		}

		.application-wrapper{
			flex-flow: row wrap;
			justify-content: flex-start;
			display: flex;
		}

		h1{
			width: 15%;
			order: 0;
			flex: 0 1 auto;
			align-self: stretch;
			line-height: 1.9em;
			font-weight: 300;
			text-align: left;

			a{
				padding: 0;

				&:hover {
					background: transparent;
				}
			}
		}

		.actions{
			display: flex;
			font-size: 1em;
			line-height: 4em;
		}

		.user{
			width: 25%;
			flex-flow: row wrap;
			justify-content: flex-end;
			display: flex;

			.user-title{
				color: #fff;
				line-height: 4em;
				margin: 0;
			}
		}

		.actions{
			width: 60%;
			flex-flow: row wrap;
			justify-content: flex-start;
			display: flex;

			.search {
				width: 100%;
				flex-flow: row wrap;
				justify-content: flex-start;
				display: flex;

				label{
					width: 8%;
					position: relative;
					overflow: hidden;
					font-size: 1.5em;
					line-height: 2.7em;
					text-align: center;
				}

				input[type="text"]{
					width: 80%;

					&:-webkit-autofill {
						-webkit-box-shadow: 0 0 0px 1000px @main-header-color inset;
						color: white;
					}
				}
			}
		}
	}
}


.avatar{
	background-color: #21a5ff;
	background-size: contain;
	width: 2em;
	height: 2em;
	border-radius: 3em;
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin:1em .5em 0 0;
	text-align: center;
	line-height: 2em;
	color: #fff;

	span{
		font-size: 1.5em;
	}

	&:hover{
		background-color: #21a5ff;
		color: #fff;
	}
}


.submit{
	background-color: @submit-button-color;
	color: @submit-text-color;
}

.box-message{
	font-size: .9em;
	line-height: 1.3em;
	text-align: center;
}


.center{
	position: absolute;
	top: 50%;
	left: 50%;

	&.login{
		width: 20em;
		margin: -8em 0 0 -10em;
	}
}

.box {
	background: @box-background-color;
	border-radius: .8em;
	position:relative;
	overflow: hidden;


	form{
		input{
			&:first-child {
				border-top: none;
			}
			border-top: 1px solid @border-color;
		}

		input[type="text"],
		input[type="email"],
		input[type="password"]{
			color: @p-text-color;
		}

		input[type="text"],
		input[type="email"],
		input[type="password"],
		button {
			padding: 1em;
			font-size: 1.2em;
		}

	}
}

.sub-menu{
	font-size: 95%;

	.main-actions{
		flex-flow: row wrap;
		justify-content: flex-start;
		display: flex;
		justify-content: center;
		margin: .8em 0;

		li{
			margin-right: .2em;

		}
	}
}

.button{
	background: #21a5ff;
	color: #fff;
	border-radius: .5em;
}


.grid{
	background: #fff;
	padding: 2em;
	border-radius: .5em;
	margin: 0 2.5em;

	a{
		padding: 0;
	}

	.item{
		font-size: 110%;
		margin: 0 0 2.5em 0;
		padding-bottom: 1em;
		border-bottom: 1px solid @border-color;

		&:last-child{
			margin: 0;
			border-bottom: none;
		}

		.button{
			&.small{
				font-size: .6em;
				padding: .3em;
			}
		}

		h3{
			font-size: 1.4em;
			line-height: 1.2em;
			color: #000;
			font-weight: 500;
		}

		p{
			color: #303030;
		}

		h3, p{
			display: inline;
		}

		a.who{
			background: transparent;
			padding: 0;
		}
		.when{
			margin-bottom: .5em;
			color: #b5b5b5;

			.avatar{
				width: 1em;
				height: 1em;
				border-radius: 3em;
				margin:0 .3em 0 0;
				text-align: center;
				line-height: .9em;

				span{
					font-size: .8em;
					font-weight: bold;
				}
			}
		}

		.processes{
			margin: .8em 0;
			font-size: 85%;

			.view-more{
				background:@view-more-color;
				color: #fff;
				border-radius: .3em;
				padding: 0 .5em;
			}

			.last-document{
				flex-flow: row wrap;
				justify-content: flex-start;
				display: flex;
				margin: 2em 0 1em;

				.icon{
					font-size: 4.5em;
					color: #b5b5b5;
				}

				.information{
					width: 40%;
					margin-left: .8em;
				}

				h4{
					a{
						font-size: 1.5em;
						color: #303030;
					}
				}
			}
		}
	}
}

.pop-over{
	position: absolute;
	background: #f0f0f0;
	border-radius: .35em;
	overflow: hidden;
	border-left: 1px solid #b5b5b5;
	border-top: 1px solid #c9c9c9;
	border-right: 1px solid #b7b7b7;
	border-bottom: 1px solid #a3a3a3;
	box-shadow:0 0 1em 0 rgba(0, 0, 0, 0.2);
	top: 30px;
	left: 930px;
	z-index: 2;

	ul{
		border-top: 1px solid #dfdfdf;
		padding: .5em 0 .5em 0;

		&:first-child{
			border-top: none;
			margin: 0;
		}

		li{
			font-size: 1em;
			margin: 0;
			width: 100%;

			a{
				display: block;
				color: #000;
				width: 100%;
				padding: .15em 1em .15em 1em;
				border-radius: 0;
			}
		}
	}
}