.application-wrapper{
	width: 60em;
	min-width: 20em;
	margin: 0 auto;
}

header{
	&.application-header{
		background: @main-header-color;
		height: 4em;

		a, label, input[type="text"]{
			color: white;
		}

		input[type="text"]{
			line-height: 4em;
			font-size: .95em;
			background: transparent;
			border: none;

			&:focus{
				outline: none;
			}
		}

		.application-wrapper{
			flex-flow: row wrap;
			justify-content: flex-start;
			display: flex;
		}

		h1{
			width: 15%;
			order: 0;
			flex: 0 1 auto;
			align-self: stretch;
			line-height: 1.9em;
			font-weight: 300;
			text-align: left;

			a{
				padding: 0;

				&:hover {
					background: transparent;
				}
			}
		}

		.actions{
			display: flex;
			font-size: 1em;
			line-height: 4em;
		}

		.user{
			width: 25%;
			flex-flow: row wrap;
			justify-content: flex-end;
			display: flex;

			.user-title{
				color: #fff;
				line-height: 4em;
				margin: 0;
			}

			.avatar{
				background-color: #21a5ff;
				background-size: contain;
				width: 2.5em;
				height: 2.5em;
				border-radius: 3em;
				position: relative;
				overflow: hidden;
				display: inline-block;
				margin:.8em .8em 0 0;
				text-align: center;
				line-height: 2.5em;
				color: #fff;

				span{
					font-size: 1.8em;
				}
			}
		}

		.actions{
			width: 60%;
			flex-flow: row wrap;
			justify-content: flex-start;
			display: flex;

			.search {
				width: 100%;
				flex-flow: row wrap;
				justify-content: flex-start;
				display: flex;

				label{
					width: 12%;
					position: relative;
					overflow: hidden;
					font-size: 1.5em;
					line-height: 2.7em;
					text-align: center;
				}

				input[type="text"]{
					width: 80%;

					&:-webkit-autofill {
						-webkit-box-shadow: 0 0 0px 1000px @main-header-color inset;
						color: white;
					}
				}
			}
		}
	}
}


.submit{
	background-color: @submit-button-color;
	color: @submit-text-color;
}

.box-message{
	font-size: .9em;
	line-height: 1.3em;
	text-align: center;
}


.center{
	position: absolute;
	top: 50%;
	left: 50%;

	&.login{
		width: 20em;
		margin: -8em 0 0 -10em;
	}
}

.box {
	background: @box-background-color;
	border-radius: .8em;
	position:relative;
	overflow: hidden;


	form{
		input{
			&:first-child {
				border-top: none;
			}
			border-top: 1px solid @border-color;
		}

		input[type="text"],
		input[type="email"],
		input[type="password"]{
			color: @p-text-color;
		}

		input[type="text"],
		input[type="email"],
		input[type="password"],
		button {
			padding: 1em;
			font-size: 1.2em;
		}

	}
}

.sub-menu{
	font-size: 95%;

	.main-actions{
		flex-flow: row wrap;
		justify-content: flex-start;
		display: flex;
		justify-content: center;
		margin: .8em 0;

		li{
			margin-right: .2em;

		}
	}
}

.button{
	background: #21a5ff;
	color: #fff;
	border-radius: .5em;
}


.grid{
	background: #fff;
	padding: 2em;
	border-radius: .5em;
	margin: 1.2em 2.5em;

	a{
		padding: 0;
	}

	.item{
		font-size: 110%;
		margin: 0 0 2.5em 0;
		padding-bottom: 1em;
		border-bottom: 1px solid @border-color;

		&:last-child{
			margin: 0;
			border-bottom: none;
		}

		.button{
			&.small{
				font-size: .6em;
				padding: .3em;
			}
		}

		h3{
			font-size: 1.4em;
			line-height: 1.2em;
			color: #000;
			font-weight: 500;
		}

		p{
			color: #303030;
		}

		h3, p{
			display: inline;
		}

		a.who{
			background: transparent;
			padding: 0;
		}
		.when{
			margin-bottom: .5em;
			color: #b5b5b5;
		}
	}
}