@main-font-family: "franklin-gothic-urw",sans-serif;
@title-font-family: "proxima-nova-alt",sans-serif;;
@main-background-color: #f2f2f2;
@main-font-color:#4e515e;
@box-background-color: #fff;
@border-color:#f2f2f2;
@p-text-color:#aaacb7;
@inside-link-color:#2d3847;
@rollover-link-color: #fff;
@rollover-text-link-color: #2d3847;

@button-color:#282b37;
@button-font-color:#fff;
@p-description-color:#303030;

@submit-button-color:#282b37;
@submit-text-color:#fff;
@main-header-color:#282b37;

@view-more-color:#282b37;

@grid-title-color:#282b37;


@link-color: #ccbf71;
@first-section-color: #030c18;
@interior-font-color: #646464;
@services-background-color: #fff;
@services-font-color:#000;
@special-font-color:#114488;

@input-background-color:#363636;

@success-background-color:#21a5ff;
@free-background-color:#3c763d;