@font-face {
	font-family: 'pe-icon-set-edition';
	src:url('../fonts/pe-icon-set-edition/pe-icon-set-edition.eot?-grgxmd');
	src:url('../fonts/pe-icon-set-edition/pe-icon-set-edition.eot?#iefix-grgxmd') format('embedded-opentype'),
		url('../fonts/pe-icon-set-edition/pe-icon-set-edition.woff?-grgxmd') format('woff'),
		url('../fonts/pe-icon-set-edition/pe-icon-set-edition.ttf?-grgxmd') format('truetype'),
		url('../fonts/pe-icon-set-edition/pe-icon-set-edition.svg?-grgxmd#pe-icon-set-edition') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="pe-is-e-"], [class*=" pe-is-e-"] {
	display: inline-block;
	font-family: 'pe-icon-set-edition';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'pe-icon-set-archives';
  src: url("../fonts/pe-icon-set-archives/pe-icon-set-archives.eot?-zfa4oc");
  src: url("../fonts/pe-icon-set-archives/pe-icon-set-archives.eot?#iefix-zfa4oc") format("embedded-opentype"), url("../fonts/pe-icon-set-archives/pe-icon-set-archives.woff?-zfa4oc") format("woff"), url("../fonts/pe-icon-set-archives/pe-icon-set-archives.ttf?-zfa4oc") format("truetype"), url("../fonts/pe-icon-set-archives/pe-icon-set-archives.svg?-zfa4oc#pe-icon-set-archives") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="pe-is-a-"], [class*=" pe-is-a-"] {
  font-family: 'pe-icon-set-archives';
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'pe-mini-icons';
  src: url("../fonts/pe-mini-icons/pe-mini-icons.eot?-lmzx7p");
  src: url("../fonts/pe-mini-icons/pe-mini-icons.eot?#iefix-lmzx7p") format("embedded-opentype"), url("../fonts/pe-mini-icons/pe-mini-icons.woff?-lmzx7p") format("woff"), url("../fonts/pe-mini-icons/pe-mini-icons.ttf?-lmzx7p") format("truetype"), url("../fonts/pe-mini-icons/pe-mini-icons.svg?-lmzx7p#pe-mini-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="pe-mini-"], [class*=" pe-mini-"] {
  font-family: 'pe-mini-icons';
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pe-mini-add:before {
  content: "\e600";
}

.pe-mini-airplane:before {
  content: "\e601";
}

.pe-mini-archive-empty:before {
  content: "\e602";
}

.pe-mini-archive:before {
  content: "\e603";
}

.pe-mini-back-1:before {
  content: "\e604";
}

.pe-mini-back-2:before {
  content: "\e605";
}

.pe-mini-back-3:before {
  content: "\e606";
}

.pe-mini-badge:before {
  content: "\e607";
}

.pe-mini-bag:before {
  content: "\e608";
}

.pe-mini-ban-2:before {
  content: "\e609";
}

.pe-mini-ban-3:before {
  content: "\e60a";
}

.pe-mini-basket-1:before {
  content: "\e60b";
}

.pe-mini-basket-2:before {
  content: "\e60c";
}

.pe-mini-battery:before {
  content: "\e60d";
}

.pe-mini-bill:before {
  content: "\e60e";
}

.pe-mini-bluetooth:before {
  content: "\e60f";
}

.pe-mini-box:before {
  content: "\e610";
}

.pe-mini-brush:before {
  content: "\e611";
}

.pe-mini-bulb:before {
  content: "\e612";
}

.pe-mini-bullhorn:before {
  content: "\e613";
}

.pe-mini-calculator:before {
  content: "\e614";
}

.pe-mini-call:before {
  content: "\e615";
}

.pe-mini-car:before {
  content: "\e616";
}

.pe-mini-cart-1:before {
  content: "\e617";
}

.pe-mini-cart-2:before {
  content: "\e618";
}

.pe-mini-cart-3:before {
  content: "\e619";
}

.pe-mini-cassette:before {
  content: "\e61a";
}

.pe-mini-chart-1:before {
  content: "\e61b";
}

.pe-mini-chart-2:before {
  content: "\e61c";
}

.pe-mini-check-1:before {
  content: "\e61d";
}

.pe-mini-check-2:before {
  content: "\e61e";
}

.pe-mini-check-3:before {
  content: "\e61f";
}

.pe-mini-check-4:before {
  content: "\e620";
}

.pe-mini-chronometer:before {
  content: "\e621";
}

.pe-mini-clip:before {
  content: "\e622";
}

.pe-mini-clipboard-add:before {
  content: "\e623";
}

.pe-mini-clipboard-remove:before {
  content: "\e624";
}

.pe-mini-clipboard:before {
  content: "\e625";
}

.pe-mini-clock:before {
  content: "\e626";
}

.pe-mini-close-circle-1:before {
  content: "\e627";
}

.pe-mini-close-circle-2:before {
  content: "\e628";
}

.pe-mini-close:before {
  content: "\e629";
}

.pe-mini-cloud-download:before {
  content: "\e62a";
}

.pe-mini-cloud-refresh:before {
  content: "\e62b";
}

.pe-mini-cloud-upload:before {
  content: "\e62c";
}

.pe-mini-cloud:before {
  content: "\e62d";
}

.pe-mini-clouds:before {
  content: "\e62e";
}

.pe-mini-cloudy:before {
  content: "\e62f";
}

.pe-mini-clover:before {
  content: "\e630";
}

.pe-mini-coffee:before {
  content: "\e631";
}

.pe-mini-cog:before {
  content: "\e632";
}

.pe-mini-cogs:before {
  content: "\e633";
}

.pe-mini-contract-1:before {
  content: "\e634";
}

.pe-mini-contract-2:before {
  content: "\e635";
}

.pe-mini-credit-card-1:before {
  content: "\e636";
}

.pe-mini-credit-card-2:before {
  content: "\e637";
}

.pe-mini-cup:before {
  content: "\e638";
}

.pe-mini-deploy-1:before {
  content: "\e639";
}

.pe-mini-deploy-2:before {
  content: "\e63a";
}

.pe-mini-desktop:before {
  content: "\e63b";
}

.pe-mini-diamond:before {
  content: "\e63c";
}

.pe-mini-disc:before {
  content: "\e63d";
}

.pe-mini-dislike:before {
  content: "\e63e";
}

.pe-mini-door:before {
  content: "\e63f";
}

.pe-mini-download:before {
  content: "\e640";
}

.pe-mini-drawers:before {
  content: "\e641";
}

.pe-mini-drop:before {
  content: "\e642";
}

.pe-mini-electro:before {
  content: "\e643";
}

.pe-mini-envelope-1:before {
  content: "\e644";
}

.pe-mini-envelope-2:before {
  content: "\e645";
}

.pe-mini-envelope-3:before {
  content: "\e646";
}

.pe-mini-envelope-open:before {
  content: "\e647";
}

.pe-mini-euro:before {
  content: "\e648";
}

.pe-mini-exclamation-circle:before {
  content: "\e649";
}

.pe-mini-exclamation-triangle:before {
  content: "\e64a";
}

.pe-mini-expand-1:before {
  content: "\e64b";
}

.pe-mini-expand-2:before {
  content: "\e64c";
}

.pe-mini-eye:before {
  content: "\e64d";
}

.pe-mini-fast-backwards-2:before {
  content: "\e64e";
}

.pe-mini-fast-forward-1:before {
  content: "\e64f";
}

.pe-mini-fast-forward-2:before {
  content: "\e650";
}

.pe-mini-fence:before {
  content: "\e651";
}

.pe-mini-file-check:before {
  content: "\e652";
}

.pe-mini-file-delete:before {
  content: "\e653";
}

.pe-mini-file-minus:before {
  content: "\e654";
}

.pe-mini-file-plus:before {
  content: "\e655";
}

.pe-mini-file:before {
  content: "\e656";
}

.pe-mini-files:before {
  content: "\e657";
}

.pe-mini-film:before {
  content: "\e658";
}

.pe-mini-floppy-disk:before {
  content: "\e659";
}

.pe-mini-folder:before {
  content: "\e65a";
}

.pe-mini-gbp:before {
  content: "\e65b";
}

.pe-mini-graduation-1:before {
  content: "\e65c";
}

.pe-mini-graduation-2:before {
  content: "\e65d";
}

.pe-mini-headphones:before {
  content: "\e65e";
}

.pe-mini-help:before {
  content: "\e65f";
}

.pe-mini-home:before {
  content: "\e660";
}

.pe-mini-hourglass:before {
  content: "\e661";
}

.pe-mini-ipod:before {
  content: "\e662";
}

.pe-mini-joystick:before {
  content: "\e663";
}

.pe-mini-key-1:before {
  content: "\e664";
}

.pe-mini-key-2:before {
  content: "\e665";
}

.pe-mini-laptop:before {
  content: "\e666";
}

.pe-mini-letter:before {
  content: "\e667";
}

.pe-mini-light:before {
  content: "\e668";
}

.pe-mini-lightning:before {
  content: "\e669";
}

.pe-mini-like:before {
  content: "\e66a";
}

.pe-mini-link-1:before {
  content: "\e66b";
}

.pe-mini-link-2:before {
  content: "\e66c";
}

.pe-mini-lock:before {
  content: "\e66d";
}

.pe-mini-loop:before {
  content: "\e66e";
}

.pe-mini-love-1:before {
  content: "\e66f";
}

.pe-mini-love-2:before {
  content: "\e670";
}

.pe-mini-magnet:before {
  content: "\e671";
}

.pe-mini-map-marker-1:before {
  content: "\e672";
}

.pe-mini-map-marker-2:before {
  content: "\e673";
}

.pe-mini-map-marker-add:before {
  content: "\e674";
}

.pe-mini-maximize-1:before {
  content: "\e675";
}

.pe-mini-maximize-2:before {
  content: "\e676";
}

.pe-mini-maximize-right:before {
  content: "\e677";
}

.pe-mini-message-1:before {
  content: "\e678";
}

.pe-mini-message-2:before {
  content: "\e679";
}

.pe-mini-message-quote:before {
  content: "\e67a";
}

.pe-mini-messages:before {
  content: "\e67b";
}

.pe-mini-microphone:before {
  content: "\e67c";
}

.pe-mini-minimize-2:before {
  content: "\e67d";
}

.pe-mini-minus-circle:before {
  content: "\e67e";
}

.pe-mini-mouse:before {
  content: "\e67f";
}

.pe-mini-museum:before {
  content: "\e680";
}

.pe-mini-music:before {
  content: "\e681";
}

.pe-mini-musical-note-1:before {
  content: "\e682";
}

.pe-mini-musical-note-2:before {
  content: "\e683";
}

.pe-mini-mute-1:before {
  content: "\e684";
}

.pe-mini-mute-2:before {
  content: "\e685";
}

.pe-mini-next-1:before {
  content: "\e686";
}

.pe-mini-next-2:before {
  content: "\e687";
}

.pe-mini-next-3:before {
  content: "\e688";
}

.pe-mini-no-call:before {
  content: "\e689";
}

.pe-mini-note:before {
  content: "\e68a";
}

.pe-mini-paper-cut:before {
  content: "\e68b";
}

.pe-mini-paper-plane-1:before {
  content: "\e68c";
}

.pe-mini-paper-plane-2:before {
  content: "\e68d";
}

.pe-mini-pause:before {
  content: "\e68e";
}

.pe-mini-pencil:before {
  content: "\e68f";
}

.pe-mini-perch:before {
  content: "\e690";
}

.pe-mini-phone:before {
  content: "\e691";
}

.pe-mini-picture:before {
  content: "\e692";
}

.pe-mini-piggy:before {
  content: "\e693";
}

.pe-mini-pin:before {
  content: "\e694";
}

.pe-mini-placeholder:before {
  content: "\e695";
}

.pe-mini-play-circle:before {
  content: "\e696";
}

.pe-mini-play:before {
  content: "\e697";
}

.pe-mini-plus-circle:before {
  content: "\e698";
}

.pe-mini-printer-1:before {
  content: "\e699";
}

.pe-mini-printer-2:before {
  content: "\e69a";
}

.pe-mini-printer-3:before {
  content: "\e69b";
}

.pe-mini-puzzle:before {
  content: "\e69c";
}

.pe-mini-rain:before {
  content: "\e69d";
}

.pe-mini-random:before {
  content: "\e69e";
}

.pe-mini-refresh-1:before {
  content: "\e69f";
}

.pe-mini-refresh-2:before {
  content: "\e6a0";
}

.pe-mini-refresh-3:before {
  content: "\e6a1";
}

.pe-mini-refresh-4:before {
  content: "\e6a2";
}

.pe-mini-refresh-5:before {
  content: "\e6a3";
}

.pe-mini-refresh-6:before {
  content: "\e6a4";
}

.pe-mini-relation-tree:before {
  content: "\e6a5";
}

.pe-mini-reorder:before {
  content: "\e6a6";
}

.pe-mini-rocket:before {
  content: "\e6a7";
}

.pe-mini-rss:before {
  content: "\e6a8";
}

.pe-mini-ruler:before {
  content: "\e6a9";
}

.pe-mini-scissors:before {
  content: "\e6aa";
}

.pe-mini-server-1:before {
  content: "\e6ab";
}

.pe-mini-server-2:before {
  content: "\e6ac";
}

.pe-mini-share-1:before {
  content: "\e6ad";
}

.pe-mini-share-2:before {
  content: "\e6ae";
}

.pe-mini-share-3:before {
  content: "\e6af";
}

.pe-mini-shield-check:before {
  content: "\e6b0";
}

.pe-mini-shield:before {
  content: "\e6b1";
}

.pe-mini-shop:before {
  content: "\e6b2";
}

.pe-mini-shuffle:before {
  content: "\e6b3";
}

.pe-mini-signal:before {
  content: "\e6b4";
}

.pe-mini-smartphone:before {
  content: "\e6b5";
}

.pe-mini-stamp:before {
  content: "\e6b6";
}

.pe-mini-star-1:before {
  content: "\e6b7";
}

.pe-mini-star-2:before {
  content: "\e6b8";
}

.pe-mini-star-3:before {
  content: "\e6b9";
}

.pe-mini-stop:before {
  content: "\e6ba";
}

.pe-mini-suitcase-1:before {
  content: "\e6bb";
}

.pe-mini-suitcase-2:before {
  content: "\e6bc";
}

.pe-mini-suitcase-3:before {
  content: "\e6bd";
}

.pe-mini-suitcase-4:before {
  content: "\e6be";
}

.pe-mini-sun-glasses:before {
  content: "\e6bf";
}

.pe-mini-sun:before {
  content: "\e6c0";
}

.pe-mini-surround:before {
  content: "\e6c1";
}

.pe-mini-tablet:before {
  content: "\e6c2";
}

.pe-mini-tag:before {
  content: "\e6c3";
}

.pe-mini-target-1:before {
  content: "\e6c4";
}

.pe-mini-target-2:before {
  content: "\e6c5";
}

.pe-mini-th-small:before {
  content: "\e6c6";
}

.pe-mini-ticket:before {
  content: "\e6c7";
}

.pe-mini-tools:before {
  content: "\e6c8";
}

.pe-mini-trash:before {
  content: "\e6c9";
}

.pe-mini-truck:before {
  content: "\e6ca";
}

.pe-mini-tv:before {
  content: "\e6cb";
}

.pe-mini-umbrella:before {
  content: "\e6cc";
}

.pe-mini-unlock-1:before {
  content: "\e6cd";
}

.pe-mini-unlock-2:before {
  content: "\e6ce";
}

.pe-mini-unlock-3:before {
  content: "\e6cf";
}

.pe-mini-upload:before {
  content: "\e6d0";
}

.pe-mini-usd:before {
  content: "\e6d1";
}

.pe-mini-user-female:before {
  content: "\e6d2";
}

.pe-mini-user-male:before {
  content: "\e6d3";
}

.pe-mini-voicemail:before {
  content: "\e6d4";
}

.pe-mini-volume-1:before {
  content: "\e6d5";
}

.pe-mini-volume-2:before {
  content: "\e6d6";
}

.pe-mini-ways:before {
  content: "\e6d7";
}

.pe-mini-world:before {
  content: "\e6d8";
}

.pe-mini-wrench-1:before {
  content: "\e6d9";
}

.pe-mini-wrench-2:before {
  content: "\e6da";
}

.pe-mini-yen:before {
  content: "\e6db";
}

.pe-mini-zoom-in:before {
  content: "\e6dc";
}

.pe-mini-zoom-out:before {
  content: "\e6dd";
}

.pe-mini-zoom:before {
  content: "\e6de";
}


.pe-is-a-clipboard-blank-f:before {
  content: "\e600";
}

.pe-is-a-clipboard-blank:before {
  content: "\e601";
}

.pe-is-a-clipboard-check-f:before {
  content: "\e602";
}

.pe-is-a-clipboard-check:before {
  content: "\e603";
}

.pe-is-a-clipboard-edit-f:before {
  content: "\e604";
}

.pe-is-a-clipboard-edit:before {
  content: "\e605";
}

.pe-is-a-clipboard-f:before {
  content: "\e606";
}

.pe-is-a-clipboard-file-f:before {
  content: "\e607";
}

.pe-is-a-clipboard-file:before {
  content: "\e608";
}

.pe-is-a-clipboard-minus-f:before {
  content: "\e609";
}

.pe-is-a-clipboard-minus:before {
  content: "\e60a";
}

.pe-is-a-clipboard-no-f:before {
  content: "\e60b";
}

.pe-is-a-clipboard-no:before {
  content: "\e60c";
}

.pe-is-a-clipboard-plus-f:before {
  content: "\e60d";
}

.pe-is-a-clipboard-plus:before {
  content: "\e60e";
}

.pe-is-a-clipboard-remove-f:before {
  content: "\e60f";
}

.pe-is-a-clipboard-remove:before {
  content: "\e610";
}

.pe-is-a-clipboard:before {
  content: "\e611";
}

.pe-is-a-copy-file-f:before {
  content: "\e612";
}

.pe-is-a-copy-file:before {
  content: "\e613";
}

.pe-is-a-duplicate-file-f:before {
  content: "\e614";
}

.pe-is-a-duplicate-file-h-f:before {
  content: "\e615";
}

.pe-is-a-duplicate-file-h:before {
  content: "\e616";
}

.pe-is-a-duplicate-file:before {
  content: "\e617";
}

.pe-is-a-file-advice-f:before {
  content: "\e618";
}

.pe-is-a-file-advice:before {
  content: "\e619";
}

.pe-is-a-file-certificate-f:before {
  content: "\e61a";
}

.pe-is-a-file-certificate:before {
  content: "\e61b";
}

.pe-is-a-file-chart-1-f:before {
  content: "\e61c";
}

.pe-is-a-file-chart-1:before {
  content: "\e61d";
}

.pe-is-a-file-chart-2-f:before {
  content: "\e61e";
}

.pe-is-a-file-chart-2:before {
  content: "\e61f";
}

.pe-is-a-file-check-1-f:before {
  content: "\e620";
}

.pe-is-a-file-check-1:before {
  content: "\e621";
}

.pe-is-a-file-check-2-f:before {
  content: "\e622";
}

.pe-is-a-file-check-2:before {
  content: "\e623";
}

.pe-is-a-file-clip:before {
  content: "\e624";
}

.pe-is-a-file-code-f:before {
  content: "\e625";
}

.pe-is-a-file-code:before {
  content: "\e626";
}

.pe-is-a-file-down-arrow-f:before {
  content: "\e627";
}

.pe-is-a-file-down-arrow:before {
  content: "\e628";
}

.pe-is-a-file-download-f:before {
  content: "\e629";
}

.pe-is-a-file-download:before {
  content: "\e62a";
}

.pe-is-a-file-edit-f:before {
  content: "\e62b";
}

.pe-is-a-file-edit:before {
  content: "\e62c";
}

.pe-is-a-file-f:before {
  content: "\e62d";
}

.pe-is-a-file-h-f:before {
  content: "\e62e";
}

.pe-is-a-file-h:before {
  content: "\e62f";
}

.pe-is-a-file-home-f:before {
  content: "\e630";
}

.pe-is-a-file-home:before {
  content: "\e631";
}

.pe-is-a-file-image-2-f:before {
  content: "\e632";
}

.pe-is-a-file-image-2:before {
  content: "\e633";
}

.pe-is-a-file-image-h-f:before {
  content: "\e634";
}

.pe-is-a-file-image-h:before {
  content: "\e635";
}

.pe-is-a-file-lock-f:before {
  content: "\e636";
}

.pe-is-a-file-lock:before {
  content: "\e637";
}

.pe-is-a-file-macro-f:before {
  content: "\e638";
}

.pe-is-a-file-macro:before {
  content: "\e639";
}

.pe-is-a-file-minus-1-f:before {
  content: "\e63a";
}

.pe-is-a-file-minus-1:before {
  content: "\e63b";
}

.pe-is-a-file-minus-2-f:before {
  content: "\e63c";
}

.pe-is-a-file-minus-2:before {
  content: "\e63d";
}

.pe-is-a-file-music-f:before {
  content: "\e63e";
}

.pe-is-a-file-music:before {
  content: "\e63f";
}

.pe-is-a-file-no-f:before {
  content: "\e640";
}

.pe-is-a-file-no:before {
  content: "\e641";
}

.pe-is-a-file-pie-chart-f:before {
  content: "\e642";
}

.pe-is-a-file-pie-chart:before {
  content: "\e643";
}

.pe-is-a-file-place:before {
  content: "\e644";
}

.pe-is-a-file-play-f:before {
  content: "\e645";
}

.pe-is-a-file-play:before {
  content: "\e646";
}

.pe-is-a-file-plus-1-f:before {
  content: "\e647";
}

.pe-is-a-file-plus-1:before {
  content: "\e648";
}

.pe-is-a-file-plus-2-f:before {
  content: "\e649";
}

.pe-is-a-file-plus-2:before {
  content: "\e64a";
}

.pe-is-a-file-refresh-2-f:before {
  content: "\e64b";
}

.pe-is-a-file-refresh-2:before {
  content: "\e64c";
}

.pe-is-a-file-refresh-f:before {
  content: "\e64d";
}

.pe-is-a-file-refresh:before {
  content: "\e64e";
}

.pe-is-a-file-remove-1-f:before {
  content: "\e64f";
}

.pe-is-a-file-remove-1:before {
  content: "\e650";
}

.pe-is-a-file-remove-2-f:before {
  content: "\e651";
}

.pe-is-a-file-remove-2:before {
  content: "\e652";
}

.pe-is-a-file-search-f:before {
  content: "\e653";
}

.pe-is-a-file-search:before {
  content: "\e654";
}

.pe-is-a-file-settings-f:before {
  content: "\e655";
}

.pe-is-a-file-settings:before {
  content: "\e656";
}

.pe-is-a-file-star-f:before {
  content: "\e657";
}

.pe-is-a-file-star:before {
  content: "\e658";
}

.pe-is-a-file-table-f:before {
  content: "\e659";
}

.pe-is-a-file-table:before {
  content: "\e65a";
}

.pe-is-a-file-text-f:before {
  content: "\e65b";
}

.pe-is-a-file-text-h-f:before {
  content: "\e65c";
}

.pe-is-a-file-text-h:before {
  content: "\e65d";
}

.pe-is-a-file-text:before {
  content: "\e65e";
}

.pe-is-a-file-time-f:before {
  content: "\e65f";
}

.pe-is-a-file-time:before {
  content: "\e660";
}

.pe-is-a-file-up-arrow-f:before {
  content: "\e661";
}

.pe-is-a-file-up-arrow:before {
  content: "\e662";
}

.pe-is-a-file-upload-f:before {
  content: "\e663";
}

.pe-is-a-file-upload:before {
  content: "\e664";
}

.pe-is-a-file:before {
  content: "\e665";
}

.pe-is-a-folder-advice-f:before {
  content: "\e666";
}

.pe-is-a-folder-advice:before {
  content: "\e667";
}

.pe-is-a-folder-bookmark-f:before {
  content: "\e668";
}

.pe-is-a-folder-bookmark:before {
  content: "\e669";
}

.pe-is-a-folder-check-f:before {
  content: "\e66a";
}

.pe-is-a-folder-check:before {
  content: "\e66b";
}

.pe-is-a-folder-code-f:before {
  content: "\e66c";
}

.pe-is-a-folder-code:before {
  content: "\e66d";
}

.pe-is-a-folder-connect-f:before {
  content: "\e66e";
}

.pe-is-a-folder-connect:before {
  content: "\e66f";
}

.pe-is-a-folder-download-f:before {
  content: "\e670";
}

.pe-is-a-folder-download:before {
  content: "\e671";
}

.pe-is-a-folder-edit-f:before {
  content: "\e672";
}

.pe-is-a-folder-edit:before {
  content: "\e673";
}

.pe-is-a-folder-f:before {
  content: "\e674";
}

.pe-is-a-folder-home-f:before {
  content: "\e675";
}

.pe-is-a-folder-home:before {
  content: "\e676";
}

.pe-is-a-folder-image-f:before {
  content: "\e677";
}

.pe-is-a-folder-image:before {
  content: "\e678";
}

.pe-is-a-folder-lock-f:before {
  content: "\e679";
}

.pe-is-a-folder-lock:before {
  content: "\e67a";
}

.pe-is-a-folder-minus-f:before {
  content: "\e67b";
}

.pe-is-a-folder-minus:before {
  content: "\e67c";
}

.pe-is-a-folder-music-f:before {
  content: "\e67d";
}

.pe-is-a-folder-music:before {
  content: "\e67e";
}

.pe-is-a-folder-no-f:before {
  content: "\e67f";
}

.pe-is-a-folder-no:before {
  content: "\e680";
}

.pe-is-a-folder-o-advice-f:before {
  content: "\e681";
}

.pe-is-a-folder-o-advice:before {
  content: "\e682";
}

.pe-is-a-folder-o-bookmark-f:before {
  content: "\e683";
}

.pe-is-a-folder-o-bookmark:before {
  content: "\e684";
}

.pe-is-a-folder-o-check-f:before {
  content: "\e685";
}

.pe-is-a-folder-o-check:before {
  content: "\e686";
}

.pe-is-a-folder-o-code-f:before {
  content: "\e687";
}

.pe-is-a-folder-o-code:before {
  content: "\e688";
}

.pe-is-a-folder-o-connect-f:before {
  content: "\e689";
}

.pe-is-a-folder-o-connect:before {
  content: "\e68a";
}

.pe-is-a-folder-o-download-f:before {
  content: "\e68b";
}

.pe-is-a-folder-o-download:before {
  content: "\e68c";
}

.pe-is-a-folder-o-edit-f:before {
  content: "\e68d";
}

.pe-is-a-folder-o-edit:before {
  content: "\e68e";
}

.pe-is-a-folder-o-f:before {
  content: "\e68f";
}

.pe-is-a-folder-o-home-f:before {
  content: "\e690";
}

.pe-is-a-folder-o-home:before {
  content: "\e691";
}

.pe-is-a-folder-o-image-f:before {
  content: "\e692";
}

.pe-is-a-folder-o-image:before {
  content: "\e693";
}

.pe-is-a-folder-o-lock-f:before {
  content: "\e694";
}

.pe-is-a-folder-o-lock:before {
  content: "\e695";
}

.pe-is-a-folder-o-minus-f:before {
  content: "\e696";
}

.pe-is-a-folder-o-minus:before {
  content: "\e697";
}

.pe-is-a-folder-o-music-f:before {
  content: "\e698";
}

.pe-is-a-folder-o-music:before {
  content: "\e699";
}

.pe-is-a-folder-o-no-f:before {
  content: "\e69a";
}

.pe-is-a-folder-o-no:before {
  content: "\e69b";
}

.pe-is-a-folder-o-place:before {
  content: "\e69c";
}

.pe-is-a-folder-o-play-f:before {
  content: "\e69d";
}

.pe-is-a-folder-o-play:before {
  content: "\e69e";
}

.pe-is-a-folder-o-plus-f:before {
  content: "\e69f";
}

.pe-is-a-folder-o-plus:before {
  content: "\e6a0";
}

.pe-is-a-folder-o-refresh-1-f:before {
  content: "\e6a1";
}

.pe-is-a-folder-o-refresh-1:before {
  content: "\e6a2";
}

.pe-is-a-folder-o-refresh-2-f:before {
  content: "\e6a3";
}

.pe-is-a-folder-o-refresh-2:before {
  content: "\e6a4";
}

.pe-is-a-folder-o-remove-f:before {
  content: "\e6a5";
}

.pe-is-a-folder-o-remove:before {
  content: "\e6a6";
}

.pe-is-a-folder-o-search-f:before {
  content: "\e6a7";
}

.pe-is-a-folder-o-search:before {
  content: "\e6a8";
}

.pe-is-a-folder-o-settings-f:before {
  content: "\e6a9";
}

.pe-is-a-folder-o-settings:before {
  content: "\e6aa";
}

.pe-is-a-folder-o-star-f:before {
  content: "\e6ab";
}

.pe-is-a-folder-o-star:before {
  content: "\e6ac";
}

.pe-is-a-folder-o-upload-f:before {
  content: "\e6ad";
}

.pe-is-a-folder-o-upload:before {
  content: "\e6ae";
}

.pe-is-a-folder-o-v-f:before {
  content: "\e6af";
}

.pe-is-a-folder-o-v:before {
  content: "\e6b0";
}

.pe-is-a-folder-o-zip-f:before {
  content: "\e6b1";
}

.pe-is-a-folder-o-zip:before {
  content: "\e6b2";
}

.pe-is-a-folder-o:before {
  content: "\e6b3";
}

.pe-is-a-folder-open-f:before {
  content: "\e6b4";
}

.pe-is-a-folder-open:before {
  content: "\e6b5";
}

.pe-is-a-folder-place:before {
  content: "\e6b6";
}

.pe-is-a-folder-play-f:before {
  content: "\e6b7";
}

.pe-is-a-folder-play:before {
  content: "\e6b8";
}

.pe-is-a-folder-plus-f:before {
  content: "\e6b9";
}

.pe-is-a-folder-plus:before {
  content: "\e6ba";
}

.pe-is-a-folder-refresh-1-f:before {
  content: "\e6bb";
}

.pe-is-a-folder-refresh-1:before {
  content: "\e6bc";
}

.pe-is-a-folder-refresh-2-f:before {
  content: "\e6bd";
}

.pe-is-a-folder-refresh-2:before {
  content: "\e6be";
}

.pe-is-a-folder-remove-f:before {
  content: "\e6bf";
}

.pe-is-a-folder-remove:before {
  content: "\e6c0";
}

.pe-is-a-folder-search-f:before {
  content: "\e6c1";
}

.pe-is-a-folder-search:before {
  content: "\e6c2";
}

.pe-is-a-folder-settings-f:before {
  content: "\e6c3";
}

.pe-is-a-folder-settings:before {
  content: "\e6c4";
}

.pe-is-a-folder-star-f:before {
  content: "\e6c5";
}

.pe-is-a-folder-star:before {
  content: "\e6c6";
}

.pe-is-a-folder-upload-f:before {
  content: "\e6c7";
}

.pe-is-a-folder-upload:before {
  content: "\e6c8";
}

.pe-is-a-folder-zip-1-f:before {
  content: "\e6c9";
}

.pe-is-a-folder-zip-1:before {
  content: "\e6ca";
}

.pe-is-a-folder-zip-2-f:before {
  content: "\e6cb";
}

.pe-is-a-folder-zip-2:before {
  content: "\e6cc";
}

.pe-is-a-folder:before {
  content: "\e6cd";
}

.pe-is-a-fole-bookmark-f:before {
  content: "\e6ce";
}

.pe-is-a-fole-bookmark:before {
  content: "\e6cf";
}

.pe-is-a-fole-zip-f:before {
  content: "\e6d0";
}

.pe-is-a-fole-zip:before {
  content: "\e6d1";
}

.pe-is-a-give-file-f:before {
  content: "\e6d2";
}

.pe-is-a-give-file:before {
  content: "\e6d3";
}

.pe-is-a-multiple-save-f:before {
  content: "\e6d4";
}

.pe-is-a-multiple-save:before {
  content: "\e6d5";
}

.pe-is-a-note-advice-f:before {
  content: "\e6d6";
}

.pe-is-a-note-advice:before {
  content: "\e6d7";
}

.pe-is-a-note-check-f:before {
  content: "\e6d8";
}

.pe-is-a-note-check:before {
  content: "\e6d9";
}

.pe-is-a-note-download-f:before {
  content: "\e6da";
}

.pe-is-a-note-download:before {
  content: "\e6db";
}

.pe-is-a-note-edit-f:before {
  content: "\e6dc";
}

.pe-is-a-note-edit:before {
  content: "\e6dd";
}

.pe-is-a-note-f:before {
  content: "\e6de";
}

.pe-is-a-note-home-f:before {
  content: "\e6df";
}

.pe-is-a-note-home:before {
  content: "\e6e0";
}

.pe-is-a-note-lock-f:before {
  content: "\e6e1";
}

.pe-is-a-note-lock:before {
  content: "\e6e2";
}

.pe-is-a-note-minus-f:before {
  content: "\e6e3";
}

.pe-is-a-note-minus:before {
  content: "\e6e4";
}

.pe-is-a-note-no-f:before {
  content: "\e6e5";
}

.pe-is-a-note-no:before {
  content: "\e6e6";
}

.pe-is-a-note-plus-f:before {
  content: "\e6e7";
}

.pe-is-a-note-plus:before {
  content: "\e6e8";
}

.pe-is-a-note-refresh-f:before {
  content: "\e6e9";
}

.pe-is-a-note-refresh:before {
  content: "\e6ea";
}

.pe-is-a-note-remove-f:before {
  content: "\e6eb";
}

.pe-is-a-note-remove:before {
  content: "\e6ec";
}

.pe-is-a-note-search-f:before {
  content: "\e6ed";
}

.pe-is-a-note-search:before {
  content: "\e6ee";
}

.pe-is-a-note-settings-f:before {
  content: "\e6ef";
}

.pe-is-a-note-settings:before {
  content: "\e6f0";
}

.pe-is-a-note-star-f:before {
  content: "\e6f1";
}

.pe-is-a-note-star:before {
  content: "\e6f2";
}

.pe-is-a-note-text-f:before {
  content: "\e6f3";
}

.pe-is-a-note-text:before {
  content: "\e6f4";
}

.pe-is-a-note-upload-f:before {
  content: "\e6f5";
}

.pe-is-a-note-upload:before {
  content: "\e6f6";
}

.pe-is-a-note:before {
  content: "\e6f7";
}

.pe-is-a-save-advice-f:before {
  content: "\e6f8";
}

.pe-is-a-save-advice:before {
  content: "\e6f9";
}

.pe-is-a-save-back-f:before {
  content: "\e6fa";
}

.pe-is-a-save-back:before {
  content: "\e6fb";
}

.pe-is-a-save-check-f:before {
  content: "\e6fc";
}

.pe-is-a-save-check:before {
  content: "\e6fd";
}

.pe-is-a-save-download-f:before {
  content: "\e6fe";
}

.pe-is-a-save-download:before {
  content: "\e6ff";
}

.pe-is-a-save-edit-f:before {
  content: "\e700";
}

.pe-is-a-save-edit:before {
  content: "\e701";
}

.pe-is-a-save-f:before {
  content: "\e702";
}

.pe-is-a-save-home-f:before {
  content: "\e703";
}

.pe-is-a-save-home:before {
  content: "\e704";
}

.pe-is-a-save-lock-f:before {
  content: "\e705";
}

.pe-is-a-save-lock:before {
  content: "\e706";
}

.pe-is-a-save-minus-f:before {
  content: "\e707";
}

.pe-is-a-save-minus:before {
  content: "\e708";
}

.pe-is-a-save-no-f:before {
  content: "\e709";
}

.pe-is-a-save-no:before {
  content: "\e70a";
}

.pe-is-a-save-plus-f:before {
  content: "\e70b";
}

.pe-is-a-save-plus:before {
  content: "\e70c";
}

.pe-is-a-save-refresh-f:before {
  content: "\e70d";
}

.pe-is-a-save-refresh:before {
  content: "\e70e";
}

.pe-is-a-save-remove-f:before {
  content: "\e70f";
}

.pe-is-a-save-remove:before {
  content: "\e710";
}

.pe-is-a-save-search-f:before {
  content: "\e711";
}

.pe-is-a-save-search:before {
  content: "\e712";
}

.pe-is-a-save-settings-f:before {
  content: "\e713";
}

.pe-is-a-save-settings:before {
  content: "\e714";
}

.pe-is-a-save-star-f:before {
  content: "\e715";
}

.pe-is-a-save-star:before {
  content: "\e716";
}

.pe-is-a-save-upload-f:before {
  content: "\e717";
}

.pe-is-a-save-upload:before {
  content: "\e718";
}

.pe-is-a-save:before {
  content: "\e719";
}

.pe-is-a-switch-files-f:before {
  content: "\e71a";
}

.pe-is-a-switch-files:before {
  content: "\e71b";
}

.pe-is-a-switch-folders-f:before {
  content: "\e71c";
}

.pe-is-a-switch-folders:before {
  content: "\e71d";
}

.pe-is-a-triplicate-file-f:before {
  content: "\e71e";
}

.pe-is-a-triplicate-file-h-f:before {
  content: "\e71f";
}

.pe-is-a-triplicate-file-h:before {
  content: "\e720";
}

.pe-is-a-triplicate-file:before {
  content: "\e721";
}

.pe-is-a-zip-f:before {
  content: "\e722";
}

.pe-is-a-zip:before {
  content: "\e723";
}


.pe-is-e-add-layer:before {
	content: "\e600";
}

.pe-is-e-add-layer-f:before {
	content: "\e601";
}

.pe-is-e-arrow-1:before {
	content: "\e602";
}

.pe-is-e-arrow-1-f:before {
	content: "\e603";
}

.pe-is-e-arrow-2:before {
	content: "\e604";
}

.pe-is-e-arrow-2-f:before {
	content: "\e605";
}

.pe-is-e-arrow-copy:before {
	content: "\e606";
}

.pe-is-e-arrow-copy-f:before {
	content: "\e607";
}

.pe-is-e-arrow-move:before {
	content: "\e608";
}

.pe-is-e-arrow-move-f:before {
	content: "\e609";
}

.pe-is-e-binoculars:before {
	content: "\e60a";
}

.pe-is-e-binoculars-f:before {
	content: "\e60b";
}

.pe-is-e-broken-link-1:before {
	content: "\e60c";
}

.pe-is-e-broken-link-2:before {
	content: "\e60d";
}

.pe-is-e-bucket:before {
	content: "\e60e";
}

.pe-is-e-bucket-f:before {
	content: "\e60f";
}

.pe-is-e-clip-1:before {
	content: "\e610";
}

.pe-is-e-clip-2:before {
	content: "\e611";
}

.pe-is-e-crop-f:before {
	content: "\e612";
}

.pe-is-e-crop:before {
	content: "\e613";
}

.pe-is-e-crop-marks:before {
	content: "\e614";
}

.pe-is-e-cut-layer:before {
	content: "\e615";
}

.pe-is-e-cutter:before {
	content: "\e616";
}

.pe-is-e-cutter-f:before {
	content: "\e617";
}

.pe-is-e-download:before {
	content: "\e618";
}

.pe-is-e-edit:before {
	content: "\e619";
}

.pe-is-e-edit-f:before {
	content: "\e61a";
}

.pe-is-e-eye-1:before {
	content: "\e61b";
}

.pe-is-e-eye-1-f:before {
	content: "\e61c";
}

.pe-is-e-eye-2:before {
	content: "\e61d";
}

.pe-is-e-eye-2-f:before {
	content: "\e61e";
}

.pe-is-e-eye-3:before {
	content: "\e61f";
}

.pe-is-e-eye-3-f:before {
	content: "\e620";
}

.pe-is-e-eye-4:before {
	content: "\e621";
}

.pe-is-e-eye-4-f:before {
	content: "\e622";
}

.pe-is-e-eye-dropper:before {
	content: "\e623";
}

.pe-is-e-eye-dropper-f:before {
	content: "\e624";
}

.pe-is-e-eye-slashed:before {
	content: "\e625";
}

.pe-is-e-eye-slashed-f:before {
	content: "\e626";
}

.pe-is-e-free-transform:before {
	content: "\e627";
}

.pe-is-e-free-transform-f:before {
	content: "\e628";
}

.pe-is-e-hand-click:before {
	content: "\e629";
}

.pe-is-e-hand-click-f:before {
	content: "\e62a";
}

.pe-is-e-hand-move:before {
	content: "\e62b";
}

.pe-is-e-hand-move-f:before {
	content: "\e62c";
}

.pe-is-e-hand-pointer:before {
	content: "\e62d";
}

.pe-is-e-hand-pointer-f:before {
	content: "\e62e";
}

.pe-is-e-highlighter:before {
	content: "\e62f";
}

.pe-is-e-highlighter-f:before {
	content: "\e630";
}

.pe-is-e-key-1:before {
	content: "\e631";
}

.pe-is-e-key-1-f:before {
	content: "\e632";
}

.pe-is-e-key-2:before {
	content: "\e633";
}

.pe-is-e-key-2-f:before {
	content: "\e634";
}

.pe-is-e-key-3:before {
	content: "\e635";
}

.pe-is-e-keyhole-1:before {
	content: "\e636";
}

.pe-is-e-keyhole-1-f:before {
	content: "\e637";
}

.pe-is-e-keyhole-2:before {
	content: "\e638";
}

.pe-is-e-keyhole-2-f:before {
	content: "\e639";
}

.pe-is-e-keyhole-3:before {
	content: "\e63a";
}

.pe-is-e-keyhole-3-f:before {
	content: "\e63b";
}

.pe-is-e-layers-1:before {
	content: "\e63c";
}

.pe-is-e-layers-1-f:before {
	content: "\e63d";
}

.pe-is-e-layers-2:before {
	content: "\e63e";
}

.pe-is-e-layers-2-f:before {
	content: "\e63f";
}

.pe-is-e-layers-3:before {
	content: "\e640";
}

.pe-is-e-layers-3-f:before {
	content: "\e641";
}

.pe-is-e-lightning-1:before {
	content: "\e642";
}

.pe-is-e-lightning-1-f:before {
	content: "\e643";
}

.pe-is-e-lightning-2:before {
	content: "\e644";
}

.pe-is-e-lightning-2-f:before {
	content: "\e645";
}

.pe-is-e-link-1:before {
	content: "\e646";
}

.pe-is-e-link-2:before {
	content: "\e647";
}

.pe-is-e-link-3:before {
	content: "\e648";
}

.pe-is-e-link-4:before {
	content: "\e649";
}

.pe-is-e-lock-1:before {
	content: "\e64a";
}

.pe-is-e-lock-1-f:before {
	content: "\e64b";
}

.pe-is-e-lock-2:before {
	content: "\e64c";
}

.pe-is-e-lock-2-f:before {
	content: "\e64d";
}

.pe-is-e-lock-3:before {
	content: "\e64e";
}

.pe-is-e-lock-3-f:before {
	content: "\e64f";
}

.pe-is-e-lock-4:before {
	content: "\e650";
}

.pe-is-e-lock-4-f:before {
	content: "\e651";
}

.pe-is-e-maximize:before {
	content: "\e652";
}

.pe-is-e-maximize-f:before {
	content: "\e653";
}

.pe-is-e-minimize:before {
	content: "\e654";
}

.pe-is-e-minimize-f:before {
	content: "\e655";
}

.pe-is-e-move:before {
	content: "\e656";
}

.pe-is-e-note:before {
	content: "\e657";
}

.pe-is-e-note-f:before {
	content: "\e658";
}

.pe-is-e-palette:before {
	content: "\e659";
}

.pe-is-e-palette-f:before {
	content: "\e65a";
}

.pe-is-e-pen-1:before {
	content: "\e65b";
}

.pe-is-e-pen-1-f:before {
	content: "\e65c";
}

.pe-is-e-pen-2:before {
	content: "\e65d";
}

.pe-is-e-pen-2-f:before {
	content: "\e65e";
}

.pe-is-e-pen-3:before {
	content: "\e65f";
}

.pe-is-e-pen-3-f:before {
	content: "\e660";
}

.pe-is-e-pen-4:before {
	content: "\e661";
}

.pe-is-e-pen-4-f:before {
	content: "\e662";
}

.pe-is-e-pencil-1:before {
	content: "\e663";
}

.pe-is-e-pencil-1-f:before {
	content: "\e664";
}

.pe-is-e-pencil-2:before {
	content: "\e665";
}

.pe-is-e-pencil-2-f:before {
	content: "\e666";
}

.pe-is-e-pencil-3:before {
	content: "\e667";
}

.pe-is-e-pencil-3-f:before {
	content: "\e668";
}

.pe-is-e-pencil-4:before {
	content: "\e669";
}

.pe-is-e-pencil-4-f:before {
	content: "\e66a";
}

.pe-is-e-pin-1:before {
	content: "\e66b";
}

.pe-is-e-pin-1-f:before {
	content: "\e66c";
}

.pe-is-e-pin-2:before {
	content: "\e66d";
}

.pe-is-e-pin-2-f:before {
	content: "\e66e";
}

.pe-is-e-quill:before {
	content: "\e66f";
}

.pe-is-e-quill-f:before {
	content: "\e670";
}

.pe-is-e-reflect:before {
	content: "\e671";
}

.pe-is-e-reflect-f:before {
	content: "\e672";
}

.pe-is-e-rgb:before {
	content: "\e673";
}

.pe-is-e-rgb-f:before {
	content: "\e674";
}

.pe-is-e-ruler-1:before {
	content: "\e675";
}

.pe-is-e-ruler-1-f:before {
	content: "\e676";
}

.pe-is-e-ruler-2:before {
	content: "\e677";
}

.pe-is-e-ruler-2-f:before {
	content: "\e678";
}

.pe-is-e-scissors-1:before {
	content: "\e679";
}

.pe-is-e-scissors-1-f:before {
	content: "\e67a";
}

.pe-is-e-scissors-2:before {
	content: "\e67b";
}

.pe-is-e-scissors-2-f:before {
	content: "\e67c";
}

.pe-is-e-scissors-3:before {
	content: "\e67d";
}

.pe-is-e-scissors-3-f:before {
	content: "\e67e";
}

.pe-is-e-shear:before {
	content: "\e67f";
}

.pe-is-e-shear-f:before {
	content: "\e680";
}

.pe-is-e-target-1:before {
	content: "\e681";
}

.pe-is-e-target-2:before {
	content: "\e682";
}

.pe-is-e-target-3:before {
	content: "\e683";
}

.pe-is-e-target-3-f:before {
	content: "\e684";
}

.pe-is-e-target-4:before {
	content: "\e685";
}

.pe-is-e-target-5:before {
	content: "\e686";
}

.pe-is-e-target-6:before {
	content: "\e687";
}

.pe-is-e-text-area:before {
	content: "\e688";
}

.pe-is-e-text-edit:before {
	content: "\e689";
}

.pe-is-e-tools:before {
	content: "\e68a";
}

.pe-is-e-tools-f:before {
	content: "\e68b";
}

.pe-is-e-trash-1:before {
	content: "\e68c";
}

.pe-is-e-trash-1-f:before {
	content: "\e68d";
}

.pe-is-e-trash-2:before {
	content: "\e68e";
}

.pe-is-e-trash-2-f:before {
	content: "\e68f";
}

.pe-is-e-trash-3:before {
	content: "\e690";
}

.pe-is-e-unlock-1:before {
	content: "\e691";
}

.pe-is-e-unlock-1-f:before {
	content: "\e692";
}

.pe-is-e-unlock-2:before {
	content: "\e693";
}

.pe-is-e-unlock-2-f:before {
	content: "\e694";
}

.pe-is-e-unlock-3:before {
	content: "\e695";
}

.pe-is-e-unlock-3-f:before {
	content: "\e696";
}

.pe-is-e-upload:before {
	content: "\e697";
}

.pe-is-e-zoom-in:before {
	content: "\e698";
}

.pe-is-e-zoom-in-f:before {
	content: "\e699";
}

.pe-is-e-zoom-out:before {
	content: "\e69a";
}

.pe-is-e-zoom-out-f:before {
	content: "\e69b";
}

.pe-is-e-zoom:before {
	content: "\e69c";
}

